{% extends 'basic.html' %}
{% block body %}
{% load humanize %}


<div class="container">
    <h1>Post Details</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{object.image.url}}" alt="" style="width: 300px; height: 300px"
                class="rounded-circle img-thumbnail">
        </div>
    </div>
    {{msg}} <br>
    Title = {{object.title}} <br>
    By user= {{object.user.username}}, at= {{object.created_at| naturaltime}}
    <br>

    {% if request.user == object.user %}
    <a href="/tuition_App/edit/{{object.id}}">Edit</a> <br>
    <a href="/tuition_App/delete/{{object.id}}">Delete</a> <br>
    {% endif %}

    Suject = {% for s in object.subject.all %}
    {{ s.name }}
    {% endfor %}<br>

    Class = {% for s in object.class_in.all %}
    {{ s.name }}
    {% endfor %}<br>

    Category = {{object.category}}<br>
    Salary = {{object.salary}}<br>
    Medium = {{object.medium}}<br>
    Created_at = {{object.created_at}}<br>
    Available = {% if object.available %} Yes {% else %} No {% endif %}<br>
    <p>Details: {{object.details}}</p>
</div>

{% endblock body %}