{% extends 'basic.html' %}
{% block body %}

<div class="container">
    <div class="col-md-6">
        <h1>Filter Posts</h1>
        <form action="/tuition_App/filter/" method="post">
            {% csrf_token %}

            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" name='subject'>
                    <option></option>
                    {% for i in subjects %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}

                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">Subjects</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" name='class_in'>
                    <option></option>
                    {% for i in classes %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}

                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">Class</label>
                </div>

            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Salary From</label>
                <input type="number" class="form-control" name="salary_from" id="exampleFormControlInput1">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Salary to</label>
                <input type="number" class="form-control" name="salary_to" id="exampleFormControlInput1">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="available">
                <label class="form-check-label" for="exampleCheck1">Only Available</label>
            </div>




            <button type="submit">Filter Posts</button>


        </form>
    </div>





    <H1 class="text-center">All ports are given below</H1>
    {% for p in posts %}
    <div class="col-md-6 offset-md-3 p-2 mt-3 border">

        <a href="/session/otherprofile/{{user.username}}/">{{user.username}}</a> <br>

        {{ p.title }} <br>
        <hr>


        Details: {{p.details_short}}
        <a href="/tuition_App/postdetail/{{p.id}}">...Read more</a>
    </div>
    {% endfor %}

</div>
{% endblock body %}